.footer {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.footer__ul {
    align-self: flex-start;
}

li {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 2vw;
}
a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.footer__copyright {
    color: black;
    font-size: 1.5vw;
}