.subscribes {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.subscribes li {
    color: white;
    margin: 2vw 2vw;
}
.subscribes ul {
    display: flex;
    

}
.subscribes h2 {
    margin-left: 4vw;
}